.App {
  text-align: center;
  min-height: 1000px;
}

.App p {
  font-size: large;
}

.App-header {
  background-color: blue;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-result-title {
  font-size: 3em;
}

.large{
  font-size: 40px;
}


#player-one-container button {
  margin: 0 10px;
}

#player-one-container button:hover {
  cursor: pointer;
}

.App-error-log{
  color:red;
  margin: 20px 0;
  font-size: 24px
}

.slide-container{
  margin: 0 auto;
  width: 40px;
}

.restart-btn{
  margin: 20px;
  height: 40px;
}

.restart-btn:hover {
  cursor: pointer;
}

.app-footer {
  margin-top: 40px;
}
